@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />

<br />
<p>Narudzba zakljucena!</p>
<br />
<a href="/ModulKupac/Proizvodi/Index" style="text-align:left">Back to shopping</a>

