@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />

<br />
<p>Narudzba zakljucena!</p>
<br />
<div style=" text-align:left;"><i class="fas fa-caret-left"></i><a href="/ModulKupac/Proizvodi/Index" style="">Nazad na kupovinu</a></div>

