@model eNamjestaj.Web.Areas.ModulKupac.ViewModels.RegistracijaIndexVM
@{
    Layout = "_LayoutAnonim";
}

<br />
<br />


<h3>Registracija</h3>
<br />
<br />

<form method="post" asp-controller="Registracija" asp-action="Snimi" asp-area="ModulKupac">
    @*<div asp-validation-summary = "ValidationSummary.ModelOnly"></div>*@


    <div class="form-group">
        <label for="KorisnickoIme">Korisnicko ime:</label>
        <input class="form-control" asp-for="KorisnickoIme" placeholder="Korisnicko ime">
        <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Lozinka">Lozinka:</label>
        <input class="form-control" asp-for="Lozinka" placeholder="Lozinka">
        <span asp-validation-for="Lozinka" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PotvrdaLozinke">Potvrda lozinke:</label>
        <input class="form-control" asp-for="PotvrdaLozinke" placeholder="Potvrda lozinke">
        <span asp-validation-for="PotvrdaLozinke" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Ime">Ime:</label>
        <input class="form-control" asp-for="Ime" placeholder="Ime">
        <span asp-validation-for="Ime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Prezime">Prezime:</label>
        <input class="form-control" asp-for="Prezime" placeholder="Prezime">
        <span asp-validation-for="Prezime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input class="form-control" asp-for="Email" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Adresa">Adresa:</label>
        <input class="form-control" asp-for="Adresa" placeholder="Adresa">
        <span asp-validation-for="Adresa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Spol">Spol:</label>
        M:   @Html.RadioButton("Spol", "M")
        Z: @Html.RadioButton("Spol", "Z")
        <span asp-validation-for="Spol" class="text-danger"></span><br />
    </div>

    <div class="form-group">
        <label>Opština: </label>

        <div>
            <select asp-for="OpstinaID" asp-items="@{new SelectList(Model.Opstine,"Id","Naziv")}">
                <option value=""></option>
            </select>
            <span asp-validation-for="OpstinaID" class="text-danger"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Registriraj se" class="btn btn-primary" />
    </div>

</form>


