
@{
    Layout = "_LayoutAnonim";
}

<!DOCTYPE html>

<style>
    p, h3 {
        text-align: center;
    }

    p {
        padding-top: 20px;
    }
</style>

<p>
    Uspješno ste se registrovali. <a href="/Autentifikacija/Index" style="color:blue;">Logirajte se</a> da biste imali pristup
    svim funkcionalnostima
</p>
<br />

<h3>Želimo vam dobrodošlicu na sistem ONLINE PRODAJA NAMJEŠTAJA. </h3>
<p>
    <a href="/Autentifikacija/Index" style="color:blue;">Logirajte se</a> da biste imali pristup
    svim funkcionalnostima
</p>

