@using Microsoft.AspNetCore.Http
@using eNamjestaj.Data.Helper
@using eNamjestaj.Data.Models


@{
    Korisnik username = Context.GetLogiraniKorisnik();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eNamjestaj.Web</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="/js/site.js"></script>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">eNamjestaj.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="ModulAdministrator" asp-controller="Log" asp-action="Index">Logs</a></li>

                    <li><a asp-area="ModulAdministrator" asp-controller="Sesija" asp-action="Index">Aktivne sesije</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (username != null)
                        {
                            <a asp-area="" asp-controller="Autentifikacija" asp-action="Logout">


                                <span class="glyphicon glyphicon-log-out"></span>
                                <label>
                                    @username.KorisnickoIme Logout
                                </label>
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Autentifikacija" asp-action="Logout">

                                <span class="glyphicon glyphicon-log-in"></span>
                                <label>
                                    Login
                                </label>
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - eNamjestaj.Web</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
